<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Arctic animals</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <div class="item t">
            map
        </div>
        <div class="item t">
            Arctic animals
        </div>
        <div class="item t">
            Extinct animals
        </div>
        <div class="item t">
            Relevant news
        </div>
        <div class="item t">
            Iceberg problem
        </div>
        <div class="item t">
            Maritime crisis
        </div>
        <div class="item t">
            Protection mode
        </div>
        <div class="item t">
            Protect groups 
        </div>
    </div>
    <div class="big_bg big_bg_1">
        <div class="filiter_big">
            <div class="home-content wrapper">
                <h2 class="title">Arctic animals</h2>
                <p>Welcome to this website, thank you for your support</p>
            </div>
        </div>
    </div>
    <div class="big_bg big_bg_2">
        <div class="content right">
            <div class="filiter">
                <div class="text">
                    <h2 class="page-title">Arctic rabbit</h2>
                    <p class="t">Arctic rabbits are also known as mountain rabbits or blue rabbits.
                         It is a rabbit adapted to the Arctic and mountainous environment, 
                         the arctic rabbit is generally 55 to 71 cm long and weighs 4 to 5.5 kg The ears and hind limbs are relatively small,
                          the body is fat, tailless, and has a fluffy fluff that reduces the loss of heat energy to adapt to the Arctic environment.
                        </p>
                </div>
                <a href="https://zh.wikipedia.org/zh-tw"><button class="button">Read
                        More</button></a>
            </div>
        </div>
    </div>
    <div class="big_bg big_bg_3">
        <div class="content right">
            <div class="filiter_s">
                <div class="text">
                    <h3 class="page-title">arctic fox</h3>
                    <p class="t">Also known as the blue fox and the arctic fox,
                         the body length is 50 to 75 cm, smaller than the general fox,
                          and the tail length is 25 to 30 cm.
                           The white fox is found along the coast of the Arctic Ocean and in the tundra of some islands,
                            and can live on ice sheets at minus 50 °C. Loved nesting in the hills.</p>
                </div>
                <a href="https://zh.wikipedia.org/zh-tw"><button class="button">Read
                        More</button></a>
            </div>
        </div>
    </div>
    <div class="big_bg big_bg_4">
        <div class="content right">
            <div class="filiter_ss">
                <div class="text">
                    <h3 class="page-title">polar bear</h3>
                    <p class="t">Also known as the white bear or ice bear,
                         it is a large carnivorous mammal produced in the Arctic region,
                          and the polar bear is the largest surviving bear.
                           It is also the largest surviving carnivore on land.</p>
                </div>
                <a href="https://zh.wikipedia.org/wiki"><button class="button">Read
                        More</button></a>
            </div>
        </div>
    </div>
    <a href="https://www.youtube.com/watch?v=RtIBA-DULn8">
        <div class="big_bg_5">
            <img src="/static/images/donate.jpg" style="visibility: hidden;" />
        </div>
    </a>
    <div class="form">
        <div class="grid">
            <h1 class="md_title">Protecting the Arctic and saving the planet</h1>
            <form class="grid" action="/" method="post">
                <div><input class="input_text" type="text" name="name" placeholder="Your name" /></div>
                <div><input class="input_text" type="text" name="email" placeholder="Your mailbox" /></div>
                <div><input class="input_text" type="text" name="message" placeholder="Your message" /></div>
                <input class="button" type="submit" value="Send out" />
            </form>
        </div>
    </div>
    <div class="flex mt-20"  style="background-color:#EAEDED;">
        <div class="center flex w-100p">
            <div class="w-100p m-30 ml-60">
                <span class="foot_title">ABOUT</span>
                <p>
                    辦公室:台南市東區勝利路85號<br>
                    地址:台南市崇善路205巷12號6樓<br>
                    電話:06-2081464<br>
                    service@programtheworld.tw<br>
                    服務時間 週⼀⾄週五 9:00 am~5:00pm<br>
                    ⽴案字號：台內團字第1050024600號<br>
                </p>
            </div>
            <div class="w-100p m-30 ml-60">
                <span class="foot_title">SOCIAL</span>
                <table>
                    <tbody>
                        <tr>
                            <td><span class="link">粉絲專頁</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #d5d5e0;width:200px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-top:20px;"><img src="/static/images/logo.jpg" width="300px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if data != undefined %}
        {% if data == True %}
            <script>alert("送出成功!")</script>     <!--警告視窗-->
        {% else %}
            <script>alert("送出失敗!")</script>     <!--警告視窗-->
        {% endif %}
    {% endif %}
</body>

</html>